force-app/main/default/flows/Actuliza_producto_de_oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignacion_para_producto</name>
        <label>Asignacion para producto</label>
        <locationX>403</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>Precioventa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datos_del_informe.Precio_de_Venta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_producto_de_oportundad</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Actuliza producto de oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actuliza producto de oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Datos_del_informe</name>
        <label>Datos del informe</label>
        <locationX>231</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion_para_producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdInforme</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Informe_de_Negociaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_producto_de_oportundad</name>
        <label>Actualiza producto de oportundad</label>
        <locationX>584</locationX>
        <locationY>256</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Datos_del_informe.Id_Producto_de_oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Precioventa</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Datos_del_informe</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdInforme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Precioventa</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
