force-app/main/default/flows/Actualizar_autonumero_lead_Toyota.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Incrementar el numero</description>
        <name>Increase_AutoNumber</name>
        <label>Increase AutoNumber</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Custom_Setting.Auto_Number_Lead_Toyota__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAutoNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna la variable incremento al lead autonumber</description>
        <name>UpdateAutoNumber</name>
        <label>UpdateAutoNumber</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.AutoNumberToyota__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_Setting.Auto_Number_Lead_Toyota__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Marcaacotizar</name>
        <label>Marca a cotizar</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetLead_Toyota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca_a_cotizar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Toyota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_AutoNumber</targetReference>
            </connector>
            <label>GetLead Toyota</label>
        </rules>
    </decisions>
    <description>Actualiza el nuero del para uso del round robin</description>
    <interviewLabel>Actualizar autonumero lead Toyota {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar autonumero lead Toyota</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Setting</name>
        <label>Get Custom Setting</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marcaacotizar</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Auto_Number__c</object>
        <sortField>Auto_Number_Lead_Toyota__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>UpdateCustomAutoNumber</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCustomAutoNumber</name>
        <label>UpdateCustomAutoNumber</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <inputReference>Get_Custom_Setting</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Setting</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marca_a_cotizar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Toyota</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123k000001700NAAQ</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
