force-app/main/default/flows/Actulizar_cantidad_de_tareas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Cantidad_de_tareas</name>
        <label>Cantidad de tareas</label>
        <locationX>496</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>Cantidaddetareas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_tareas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_oportunidad</targetReference>
        </connector>
    </assignments>
    <description>Rellenar el campo cantidad de tareas en el objeto oportunidad</description>
    <interviewLabel>Actulizar cantidad de tareas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actulizar cantidad de tareas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_tareas</name>
        <label>Obtener tareas</label>
        <locationX>498</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cantidad_de_tareas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_oportunidad</name>
        <label>Actualizar oportunidad</label>
        <locationX>714</locationX>
        <locationY>66</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cantidad_de_tareas__c</field>
            <value>
                <elementReference>Cantidaddetareas</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_tareas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cantidaddetareas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
