force-app/main/default/flows/Actualizar_datos_vehiculo_para_la_web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asignar_precio_a_variable</name>
        <label>Asignar precio a variable</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Preciodevendedorparalaweb</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precio_vendedor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>marcaparaweb</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marca__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modeloparalaweb</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Modelo__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_campos_web_autolote</targetReference>
        </connector>
    </assignments>
    <description>Actuliza los campos en texto plano para que se puedan consumir de la web de usados</description>
    <interviewLabel>Actualizar datos vehiculo para la web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar datos vehiculo para la web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_campos_web_autolote</name>
        <label>update campos web autolote</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Marca_texto_web__c</field>
            <value>
                <elementReference>marcaparaweb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modelo_para_web__c</field>
            <value>
                <elementReference>modeloparalaweb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_para_la_web__c</field>
            <value>
                <stringValue>{!$Record.Modelo__r.Name} {!$Record.Anio_opcion__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_para_la_web__c</field>
            <value>
                <elementReference>Preciodevendedorparalaweb</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_precio_a_variable</targetReference>
        </connector>
        <object>Vehiculo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>para uso de consumo de la api conectada de autolote web a salesforce</description>
        <name>marcaparaweb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>estea variable es para uso de consumo de la api de autolote en la web</description>
        <name>modeloparalaweb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Preciodevendedorparalaweb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
