force-app/main/default/flows/C_digo_de_oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Codigo_igual_a_800000</name>
        <label>Codigo igual a 800000</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Codigonumerico</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>800000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NuevoCodigogenerado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UltimoCod</name>
        <label>UltimoCodigo</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Codigonumerico</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ultimocodigonumerico</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NuevoCodigogenerado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ultimo_codigo</name>
        <label>Check ultimo codigo</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>UltimoCod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ultimocodigonumerico</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Codigo_igual_a_800000</targetReference>
            </connector>
            <label>Si es null</label>
        </rules>
    </decisions>
    <formulas>
        <name>NuevoCodigo</name>
        <dataType>Number</dataType>
        <expression>{!Codigonumerico} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Código de oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Código de oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_ltimo_C_digo_de_oportunidad</name>
        <label>Obtener último Código de oportunidad</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ultimo_codigo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>C_digo_de_Oportunidad_Numerico__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Ultimocodigonumerico</assignToReference>
            <field>C_digo_de_Oportunidad_Numerico__c</field>
        </outputAssignments>
        <sortField>C_digo_de_Oportunidad_Numerico__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>NuevoCodigogenerado</name>
        <label>NuevoCodigo</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_digo_de_Oportunidad_Numerico__c</field>
            <value>
                <elementReference>NuevoCodigo</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_ltimo_C_digo_de_oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Codigo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Codigonumerico</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Conteo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Op</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UltimoCodigo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ultimocodigonumerico</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
