force-app/main/default/flows/Cantidad_de_informes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Cantidad_de_informes</name>
        <label>Cantidad de informes</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CantidaddeInformes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtiene_Informes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe</name>
        <label>Existe</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Mayor_que_uno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CantidaddeInformes</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marca_Existe_informe_0</targetReference>
            </connector>
            <label>Mayor que uno</label>
        </rules>
    </decisions>
    <interviewLabel>Cantidad de informes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cantidad de informes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_Informes</name>
        <label>Obtiene Informes</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cantidad_de_informes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iddelaoportunidad</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Informe_de_Negociaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Marca_Existe_informe_0</name>
        <label>Marca Existe informe</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iddelaoportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Existen_Informes__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Informes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CantidaddeInformes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Iddelaoportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
