force-app/main/default/flows/Cantidad_de_Veh_culos_facturados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Conteo</name>
        <label>Conteo</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Conteofacturados</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Cantidad_de_veh_culos_facturados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cantidad_de_veh_culos</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Cantidad de Vehículos facturados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cantidad de Vehículos facturados</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cantidad_de_veh_culos_facturados</name>
        <label>Cantidad de vehículos facturados</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conteo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Chasis_facturado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cantidad_de_veh_culos</name>
        <label>Cantidad de vehículos</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cantidad_de_veh_culos_facturados__c</field>
            <value>
                <elementReference>Conteofacturados</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cantidad_de_veh_culos_facturados</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Conteofacturados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
