force-app/main/default/flows/Consecutivo_de_recibo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Mayor_igual_a_5_millones</name>
        <label>Mayor igual a 5 millones</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Mayor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5000000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sumar_mayor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_mayor</name>
        <label>Sumar mayor</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Mayor</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_n_mero</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Numeroderecibo</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5000000.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Si_no_hay_recibos_creados_anteriormente</name>
        <label>Si no hay recibos creados anteriormente</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Sumar_mayor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_no_hay_recibos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNumeroderecibo.NumeroRecibido__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mayor_igual_a_5_millones</targetReference>
            </connector>
            <label>Si no hay recibos</label>
        </rules>
    </decisions>
    <interviewLabel>Consecutivo de recibo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consecutivo de recibo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNumeroderecibo</name>
        <label>GetNumeroderecibo</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_no_hay_recibos_creados_anteriormente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Idrecibo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AllRecibidos__c</object>
        <sortField>NumeroRecibido__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_n_mero</name>
        <label>Actualiza número</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nuevonumeroderecibo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumeroRecibido__c</field>
            <value>
                <elementReference>Mayor</elementReference>
            </value>
        </inputAssignments>
        <object>AllRecibidos__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNumeroderecibo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Idrecibo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mayor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Nuevoconsecutivo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Nuevonumeroderecibo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
