force-app/main/default/flows/Crear_Tarea_Futura_para_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_New_Task</name>
        <label>Assign Values to New Task</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Newtask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newtask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Programada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newtask.Candidato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newtask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newtask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newtask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setea la cantidad de tareas</description>
        <name>Count_Task</name>
        <label>Count Task</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Lead_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Less_than_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lost_Lead</name>
        <label>Lost Lead</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead perdido</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Evalua si las tareas totales son 3 o si son menos</description>
        <name>Less_than_3</name>
        <label>Less than 3</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Menor_a_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_New_Task</targetReference>
            </connector>
            <label>Menor a 3</label>
        </rules>
        <rules>
            <name>Tres</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost_Lead</targetReference>
            </connector>
            <label>Tres</label>
        </rules>
    </decisions>
    <description>Al marcar una tarea como fallida, se pasa crear una nueva tarea si la cantidad de tareas para ese lead son menos de 3. De lo contrario se marca el lead como perdido</description>
    <formulas>
        <name>TaskDate</name>
        <dataType>Date</dataType>
        <expression>{!$System.OriginDateTime} + 1</expression>
    </formulas>
    <formulas>
        <description>setea el subject de la nueva tarea</description>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Recontactar Lead &quot; + {!Lead.FirstName} + &quot; &quot; + {!Lead.LastName}</expression>
    </formulas>
    <interviewLabel>Crear tarea futura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Tarea Futura para Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Newtask</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Traer las actividades para el lead</description>
        <name>Get_Lead_Task</name>
        <label>Get Lead Task</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Task</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lead</name>
        <label>Obtener Lead</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>El lead que inicia la accion</description>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Representa la nueva tarea que sea creada</description>
        <name>Newtask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
