force-app/main/default/flows/Enviar_mensaje_saliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviar_mensaje</name>
        <label>enviar mensaje</label>
        <locationX>768</locationX>
        <locationY>352</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>Obtener_Canal_de_Mensajeria.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>plantilladevname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>canalchoiceset</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Usuario_De_Mensajeria.MessagingChannel.Id</elementReference>
            </value>
        </filters>
        <object>MessagingChannel</object>
        <outputAssignments>
            <assignToReference>canaldevname</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>iddecanal</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Plntillaschoiceset</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Obtener_Metadata.Plantilla_key__c</elementReference>
            </value>
        </filters>
        <object>MessagingTemplate</object>
        <outputAssignments>
            <assignToReference>plantilladevname</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Idtemplatemensajeria</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Enviar mensaje saliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enviar mensaje saliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_Canal_de_Mensajeria</name>
        <label>Obtener Canal de Mensajeria</label>
        <locationX>648</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Usuario_De_Mensajeria.MessagingChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Metadata</name>
        <label>Obtener Metadata</label>
        <locationX>528</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enviar_Mensaje_saliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mensajeria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Canal_de_Mensajeria.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Nombre_del_canal_de_mensajeria__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Usuario_De_Mensajeria</name>
        <label>Obtener Usuario De Mensajeria</label>
        <locationX>167</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Canal_de_Mensajeria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enviar_Mensaje_saliente</name>
        <label>Enviar Mensaje saliente</label>
        <locationX>181</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>enviar_mensaje</targetReference>
        </connector>
        <fields>
            <name>Mostrar_nombre_canal</name>
            <fieldText>&lt;p&gt;{!Obtener_Canal_de_Mensajeria.MasterLabel}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plantilla_de_mensajeria</name>
            <choiceReferences>Plntillaschoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Plantilla de mensajería</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Usuario_De_Mensajeria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>canaldevname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>iddecanal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Idtemplatemensajeria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>phonenumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>plantilladevname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
