force-app/main/default/flows/Enviar_mail_de_avaluo_a_vdor_principal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_Email_al_vendedor</name>
        <label>Alerta Email al vendedor</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Decision_por_marca</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Mailalvendedor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetIDdelVendedor.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tienes una avaluo asignado</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de alerta al gerente de la marca</description>
        <name>Alerta_Email_Kia</name>
        <label>Alerta Email Kia</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailalgerente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetIDdelVendedor.Aprobador_KIA__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tienes una avaluo asignado</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de alerta al vendedor principal</description>
        <name>Alerta_Email_Suzuki</name>
        <label>Alerta Email Suzuki</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailalgerente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetIDdelVendedor.Aprobador_Suzuki__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tienes una avaluo asignado</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de alerta al gerente de la marca</description>
        <name>Alerta_Email_Toyota</name>
        <label>Alerta Email Toyota</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailalgerente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetIDdelVendedor.Aprobador_Toyota__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tienes una avaluo asignado</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Para definir a quien le manda el correo</description>
        <name>Decision_por_marca</name>
        <label>Decision por marca</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Suzuki</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_original__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SUZUKI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Email_Suzuki</targetReference>
            </connector>
            <label>Es Suzuki</label>
        </rules>
        <rules>
            <name>Es_Toyota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_original__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TOYOTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Email_Toyota</targetReference>
            </connector>
            <label>Es Toyota</label>
        </rules>
        <rules>
            <name>Es_Kia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_original__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>KIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Email_Kia</targetReference>
            </connector>
            <label>Es Kia</label>
        </rules>
    </decisions>
    <description>Envia correo electronico a vendedor y jefe de marca cuando un avaluador asigna un avaluo a una oportunidad principal</description>
    <interviewLabel>Enviar mail de avaluo a vdor principal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enviar mail de avaluo a vdor principal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener ID del vendedor</description>
        <name>GetIDdelVendedor</name>
        <label>GetIDdelVendedor</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alerta_Email_al_vendedor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendedor_principal__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetIDdelVendedor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123k000001VAxOAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vendedor_principal__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email de alerta al jefe de marca para cuando al vendedo le asignan un avalúo</description>
        <name>Emailalgerente</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola &lt;b&gt;{!GetIDdelVendedor.Aprobador_Suzuki__r.FirstName}!,&lt;/b&gt;&lt;/p&gt;&lt;p&gt;El avalúo {!$Record.Name} a sido asignado al vendedor &lt;b&gt;{!GetIDdelVendedor.FirstName} {!GetIDdelVendedor.LastName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Este evalúo está ligado a la oportunidad &lt;b&gt;{!$Record.Oportunidad_original__r.Name}.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Envia correo al vendedor cuando se le asigna un avaluo</description>
        <name>Mailalvendedor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!GetIDdelVendedor.FirstName}!,&lt;/p&gt;&lt;p&gt;Tienes asignado el avalúo &lt;b&gt;{!$Record.Name}&lt;/b&gt; por parte del vendedor &lt;b&gt;{!$Record.Owner.FirstName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;El avaluó esta asignado a tu oportunidad &lt;b&gt;{!$Record.Oportunidad_original__r.Name}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
