force-app/main/default/flows/Envio_de_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Se envía un email recordando que se debe prestar atención a la oportunidad</description>
        <name>Envia_email_de_recordatorio</name>
        <label>Envia email de recordatorio</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Se envía un email recordando que se debe prestar atención a la oportunidad</description>
        <name>Envia_email_de_recordatorio_0_0</name>
        <label>Envia email de recordatorio</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envia_PushUp</name>
        <label>Envia PushUp</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML3k00000001EwGAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipient</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envia_PushUp_0</name>
        <label>Envia PushUp</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Envia_email_de_recordatorio_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML3k00000001EwGAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipient</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Se seteará un booleano que será la bandera para decidir si se envía o no la notificación</description>
        <name>Enviar_Notificacion</name>
        <label>Enviar Notificacion</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SendNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debe_enviarse_notificacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Debe_enviarse_notificacion</name>
        <label>Debe enviarse notificacion</label>
        <locationX>776</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendNotification_en_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendNotification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_o_PushUp</targetReference>
            </connector>
            <label>SendNotification en true</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se decide que tipo de notificación será enviada</description>
        <name>Email_o_PushUp</name>
        <label>Email o PushUp</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&quot;Email&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envia_email_de_recordatorio</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>PushUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&quot;PushUp&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envia_PushUp</targetReference>
            </connector>
            <label>PushUp</label>
        </rules>
        <rules>
            <name>Ambas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&quot;Ambas&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envia_PushUp_0</targetReference>
            </connector>
            <label>Ambas</label>
        </rules>
    </decisions>
    <decisions>
        <description>Corrobora que la oportunidad no haya sufrido ninguna modificacion</description>
        <name>Sin_modificaciones</name>
        <label>Sin modificaciones</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Debe_enviarse_notificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_se_ha_modificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtener_oportunidad.LastActivityDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Notificacion</targetReference>
            </connector>
            <label>No se ha modificado</label>
        </rules>
    </decisions>
    <description>Se envian emails cuando no se realizaron aun modificaciones sobre una oportunidad</description>
    <interviewLabel>Envio de Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envio de Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos la oportunidad sobre la que revisar el envío de la notificación</description>
        <name>Obtener_oportunidad</name>
        <label>Obtener oportunidad</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sin_modificaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Cuerpo de la notificación a ser enviada</description>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Destinatarios de la notificacion</description>
        <name>NotificationRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Receptor/res de la notificación a ser enviada</description>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Motivo de la notificación a ser enviada</description>
        <name>NotificationSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tipo de la notificación a ser enviada. Esta puede ser un email o un push up</description>
        <name>NotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendNotification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
