force-app/main/default/flows/Estado_a_pendiente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Liberar_Informe_Aprobacion</name>
        <label>Liberar Informe Aprobacion</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>CajaComentarios</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Si no tiene, entonces no pasa el proceso de aprobación</description>
        <name>El_informe_tiene_o_no_accesorios_depachados</name>
        <label>El informe tiene o no accesorios depachados?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Sin_acceorios_depsachados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene accesorios despachados</defaultConnectorLabel>
        <rules>
            <name>Tiene_accesorios_deapachados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accesorios_despachados.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Porquenecesitaliberarinforme</targetReference>
            </connector>
            <label>Tiene accesorios deapachados?</label>
        </rules>
    </decisions>
    <description>Para que el estado de aprobación del informe pase a pendiente con proceso de aprobación incluído, con notificación incluída</description>
    <interviewLabel>Estado a pendiente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Estado a pendienteV3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Accesorios_despachados</name>
        <label>Accesorios despachados</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>El_informe_tiene_o_no_accesorios_depachados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InformeNegociacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Despachado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Accesorios_del_informe__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IDdelnforme</name>
        <label>IDdelnforme</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accesorios_despachados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Informe_de_Negociaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Botón que actualizará el estad a pendiente, el pendiente disparara el proces y la aprobación disparará el process otra vez</description>
        <name>Liberar_Informe</name>
        <label>Liberar Informe</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Liberar_Informe_Aprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_de_aprobaci_n__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrdenAbierta__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <object>Informe_de_Negociaci_n__c</object>
    </recordUpdates>
    <screens>
        <name>Porquenecesitaliberarinforme</name>
        <label>¿Porqué necesita eliminar el informe?</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Liberar_Informe</targetReference>
        </connector>
        <fields>
            <name>CajaComentarios</name>
            <dataType>String</dataType>
            <fieldText>Escriba sus comentarios</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Mensaje para cuando no tiene accesorios despachados</description>
        <name>Sin_acceorios_depsachados</name>
        <label>Sin acceorios depsachados</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTieneAccesoriosDespachados</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Este informe no tiene accesorios despachados&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tiene_accesorios_deapachados</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IDdelnforme</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Obtiene comentarios</description>
        <name>Comentarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
