force-app/main/default/flows/GetUnidadesVendidas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Setea la variable que cuenta la cantidad de informes facturados</description>
        <name>Contar_informes_facturados</name>
        <label>Contar informes facturados</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CantidadDeInformesFacturados</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_Facturas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_plan_de_venta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PlanVentaVacio</name>
        <label>PlanVentaVacio</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoEstaVacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerPlanVenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contar_informes_facturados</targetReference>
            </connector>
            <label>NoEstaVacio</label>
        </rules>
    </decisions>
    <formulas>
        <description>Primer dia del mes que se consulta</description>
        <name>PrimerDiaDelMes</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!AnioTexto}), {!Mes}, 1)</expression>
    </formulas>
    <formulas>
        <name>PrimerDiaDelMesProximo</name>
        <dataType>Date</dataType>
        <expression>IF(
{!Mes} = 12, 
DATE(VALUE({!AnioTexto})+1, 1, 1),
DATE(VALUE({!AnioTexto}), {!Mes} + 1, 1)
)</expression>
    </formulas>
    <interviewLabel>GetUnidadesVendidas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetUnidadesVendidas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Facturas</name>
        <label>Obtener Facturas</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerPlanVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Usuario</elementReference>
            </value>
        </filters>
        <filters>
            <field>fechafactura__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PrimerDiaDelMes</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marca_Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </filters>
        <filters>
            <field>fechafactura__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>PrimerDiaDelMesProximo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Informe_de_Negociaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerPlanVenta</name>
        <label>ObtenerPlanVenta</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PlanVentaVacio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marca_texto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ano_Calendario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnioTexto</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mes_numerico__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mes</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Usuario</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_Mensual_de_ventas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el plan de venta según la cantidad de informes facturados</description>
        <name>Actualiza_plan_de_venta</name>
        <label>Actualiza plan de venta</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerPlanVenta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unidades_Vendidas__c</field>
            <value>
                <elementReference>CantidadDeInformesFacturados</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_Mensual_de_ventas__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Facturas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnioTexto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CantidadDeInformesFacturados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Marca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
