force-app/main/default/flows/JBSystemFlow_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_FireJBTrigger</name>
        <label>SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;AccountId&quot;,
  &quot;relationshipName&quot;: &quot;Account&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514011360</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;PersonEmail&quot;,&quot;givename__pc&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Marca__c&quot;,&quot;ModeloVehiculo__c&quot;,&quot;Fecha_de_facturacion__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</name>
        <label>JB_Decision_Null_Check_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Decision</name>
        <label>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</name>
            <conditionLogic>(1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal_Autos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TOYOTA/HILUX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_State_change_Decision</name>
        <label>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal_Autos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TOYOTA/HILUX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjb46a240d8a9daa09fdb92790dfa5c3f1</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
