force-app/main/default/flows/JBSystemFlow_Vehiculo_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj774cdca775213b5fb3045203e27cb1f6_FireJBTrigger</name>
        <label>SalesforceObj774cdca775213b5fb3045203e27cb1f6_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Vehiculo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj774cdca775213b5fb3045203e27cb1f6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514011360</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Vehiculo__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Vehiculo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Marca__c&quot;,&quot;Modelo__c&quot;,&quot;Precio_vendedor__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj774cdca775213b5fb3045203e27cb1f6</name>
        <label>JB_Decision_Null_Check_SalesforceObj774cdca775213b5fb3045203e27cb1f6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Decision</name>
        <label>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj774cdca775213b5fb3045203e27cb1f6</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Libre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj774cdca775213b5fb3045203e27cb1f6_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj774cdca775213b5fb3045203e27cb1f6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_State_change_Decision</name>
        <label>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj774cdca775213b5fb3045203e27cb1f6</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Libre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj774cdca775213b5fb3045203e27cb1f6_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj774cdca775213b5fb3045203e27cb1f6</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Vehiculo_c</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Owner_User_lookup</name>
        <label>Owner_User_lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj774cdca775213b5fb3045203e27cb1f6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Owner_User</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Owner_User_lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehiculo__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehiculo__c</objectType>
    </variables>
    <variables>
        <name>Owner_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
