force-app/main/default/flows/Mensaje_saliente_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviar_mensaje_saliente_cuenta</name>
        <label>enviar mensaje saliente cuenta</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>canaldevname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>plantilladevname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>Usuario_Mensajeria.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Corroborar_Usuario_de_Mensajeria</name>
        <label>Corroborar Usuario de Mensajeria</label>
        <locationX>523</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Facebook_o_Whatsapp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Predeterminado</defaultConnectorLabel>
        <rules>
            <name>Existe_el_usuario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario_Mensajeria.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UsuarioMensajeriaTieneCuenta</targetReference>
            </connector>
            <label>Existe el usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Corroborar_Usuario_de_Mensajeria_0</name>
        <label>Corroborar Usuario de Mensajeria</label>
        <locationX>622</locationX>
        <locationY>1358</locationY>
        <defaultConnectorLabel>Predeterminado</defaultConnectorLabel>
        <rules>
            <name>Existe_el_usuario_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario_Mensajeria.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>enviar_mensaje_saliente_cuenta</targetReference>
            </connector>
            <label>Existe el usuario</label>
        </rules>
        <rules>
            <name>No_existe_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario_Mensajeria.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorVentana</targetReference>
            </connector>
            <label>No existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Facebook_o_Whatsapp</name>
        <label>Facebook o Whatsapp</label>
        <locationX>996</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>ErrorVentana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_un_mensaje_de_whatsapp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>canaldevname</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>WhatsApp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_usuario_de_mensajeria</targetReference>
            </connector>
            <label>Es un mensaje de whatsapp</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsuarioMensajeriaTieneCuenta</name>
        <label>UsuarioMensajeriaTieneCuenta</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>AsignarCuentaAUsuarioDeMensajeria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Tiene_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario_Mensajeria.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>enviar_mensaje_saliente_cuenta</targetReference>
            </connector>
            <label>Tiene Cuenta</label>
        </rules>
    </decisions>
    <description>Prueba para enviar salientes desde el objeto caso</description>
    <dynamicChoiceSets>
        <name>canalchoiceset</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>MessagingChannel</object>
        <outputAssignments>
            <assignToReference>canaldevname</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>iddecanal</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Plntillaschoiceset</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Obtener_metadata.Plantilla_key__c</elementReference>
            </value>
        </filters>
        <object>MessagingTemplate</object>
        <outputAssignments>
            <assignToReference>plantilladevname</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Idtemplatemensajeria</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Mensaje saliente case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mensaje saliente case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_usuario_de_mensajeria</name>
        <label>Crear usuario de mensajeria</label>
        <locationX>622</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>Usuario_Mensajeria.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Corroborar_Usuario_de_Mensajeria_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorVentana</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Informacion_del_contacto.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Informacion_del_contacto.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Obtener_canal_de_mensajeria.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <stringValue>whatsapp:{!Obtener_Informacion_del_contacto.Account.Phone}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Obtener_Informacion_del_contacto.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ID_de_la_opp</name>
        <label>Get ID de la opp</label>
        <locationX>523</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Informacion_del_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_canal_de_mensajeria</name>
        <label>Obtener canal de mensajeria</label>
        <locationX>523</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_Mensajeria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iddecanal</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Informacion_del_contacto</name>
        <label>Obtener Informacion del contacto</label>
        <locationX>523</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_canal_de_mensajeria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ID_de_la_opp.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_metadata</name>
        <label>Obtener metadata</label>
        <locationX>523</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Elegir_plantilla2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mensajeria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>canaldevname</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Nombre_del_canal_de_mensajeria__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Mensajeria</name>
        <label>Usuario Mensajeria</label>
        <locationX>523</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Corroborar_Usuario_de_Mensajeria</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iddecanal</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>whatsapp:{!Obtener_Informacion_del_contacto.Account.Phone}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AsignarCuentaAUsuarioDeMensajeria</name>
        <label>AsignarCuentaAUsuarioDeMensajeria</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>enviar_mensaje_saliente_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Usuario_Mensajeria.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Informacion_del_contacto.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Informacion_del_contacto.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <screens>
        <name>Elegir_plantilla2</name>
        <label>Elegir plantilla</label>
        <locationX>523</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_ID_de_la_opp</targetReference>
        </connector>
        <fields>
            <name>Elegir_plantilla</name>
            <choiceReferences>Plntillaschoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Elegir plantilla</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enviar_Mensaje_saliente</name>
        <label>Enviar Mensaje saliente</label>
        <locationX>523</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Obtener_metadata</targetReference>
        </connector>
        <fields>
            <name>Canal_de_mensajeria</name>
            <choiceReferences>canalchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Canal de mensajería</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorVentana</name>
        <label>Error</label>
        <locationX>996</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;No se pudo crear el Usuario de Mensajería correctamente.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Valide el Número de Teléfono de la cuenta. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>397</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_Mensaje_saliente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>canaldevname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cuentaid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iddecanal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Idtemplatemensajeria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>plantilladevname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
