force-app/main/default/flows/Mismo_tipo_de_direcci_n.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Obtuvo_registros</name>
        <label>Obtuvo registros</label>
        <locationX>351</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>ConteoDirecciones</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtiene_las_direcciones_alternas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conteo_mayor_a_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conteo_mayor_a_1</name>
        <label>Conteo mayor a 1</label>
        <locationX>623</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Mayor_a_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConteoDirecciones</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Mayor a 1</label>
        </rules>
    </decisions>
    <interviewLabel>Mismo tipo de dirección {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mismo tipo de dirección</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_las_direcciones_alternas</name>
        <label>Obtiene las direcciones alternas</label>
        <locationX>176</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtuvo_registros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_direcci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tipodedireccionentrada</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactoEntrada</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DireccionesAlter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtiene_las_direcciones_alternas</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactoEntrada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConteoDirecciones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Tipodedireccionentrada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
