force-app/main/default/flows/Notificacion_a_un_lead_no_leido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notificar por mail los leads no atendidos luego de 6 minutod</description>
        <name>Notificar_al_jefe</name>
        <label>Notificar al jefe</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Notificacionjefedeventas</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Aprobador_Toyota__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>aegonzalez@casapellas.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead no leído</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_unread</name>
        <label>Is unread?</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_leido_en_6_minutos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsUnreadByOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notificar_al_jefe</targetReference>
            </connector>
            <label>No leido en  6 minutos</label>
        </rules>
    </decisions>
    <description>Soliicutd de ricardo, un lead no leido en 6 minutos, enviar notificacion por correo</description>
    <interviewLabel>Notificacion a un lead no contactado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificacion a un lead no leído</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123k000001700NAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Marca_a_cotizar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Toyota</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Minutos_despues_de_no_leidos</name>
            <connector>
                <targetReference>Is_unread</targetReference>
            </connector>
            <label>Minutos despues de no leidos</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notificacionjefedeventas</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.Owner:User.Aprobador_Toyota__r.FirstName},&lt;/p&gt;&lt;p&gt;El lead {!$Record.FirstName} no se a leído luego de 6 minutos, fue creado el {!$Record.CreatedDate}&lt;/p&gt;&lt;p&gt;El vendedor asignado es {!$Record.Owner:User.FirstName}&lt;/p&gt;&lt;p&gt;Saludos&lt;/p&gt;</text>
    </textTemplates>
</Flow>
