force-app/main/default/flows/Obtiene_datos_del_producto_de_la_oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Obtiene valores tales como precios</description>
        <name>Valores_Producto_de_la_oportunidad</name>
        <label>Valores Producto de la oportunidad</label>
        <locationX>426</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>PrecioLista</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_informaci_n_del_producto_de_la_oportunidad.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Informaci_n_en_IN</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Obtiene datos del producto de la oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Obtiene datos del producto de la oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_informaci_n_del_producto_de_la_oportunidad</name>
        <label>Obtiene información del producto de la oportunidad</label>
        <locationX>202</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valores_Producto_de_la_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IdInformeNegociacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdIN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Informaci_n_en_IN</name>
        <label>Actualiza Información en IN</label>
        <locationX>651</locationX>
        <locationY>267</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdIN</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_Producto_de_oportunidad__c</field>
            <value>
                <elementReference>IdProductodelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_de_Lista_sin_IMP__c</field>
            <value>
                <elementReference>PrecioLista</elementReference>
            </value>
        </inputAssignments>
        <object>Informe_de_Negociaci_n__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtiene_informaci_n_del_producto_de_la_oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdProductodelaoportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImpAduanas</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MontoIVA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrecioLista</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrecioTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrecioUnitario</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RebajaEspecial</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
