force-app/main/default/flows/Obtiene_Exchange_rate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asigna_Exchange</name>
        <label>Asigna Exchange</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_registros_exchange.Tasa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Exchange</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existen_registros_de_tasas_de_cambio</name>
        <label>Existen registros de tasas de cambio</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen_tasas_de_cambio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_registros_exchange</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Exchange</targetReference>
            </connector>
            <label>Existen tasas de cambio?</label>
        </rules>
    </decisions>
    <interviewLabel>Obtiene Exchange rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Obtiene Exchange Rate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_registros_exchange</name>
        <label>Obtiene registros exchange</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_registros_de_tasas_de_cambio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tasa__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tasa__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exchange_Rate_By_Date__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Exchange</name>
        <label>Actualiza Exchange</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdInforme</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exchange_Rate_By_Date__c</field>
            <value>
                <elementReference>Obtiene_registros_exchange.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Informe_de_Negociaci_n__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_registros_exchange</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdInforme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
