force-app/main/default/flows/Obtiene_oportunidades_paralelas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asigna_oportunidades_paralelas</name>
        <label>Asigna oportunidades paralelas</label>
        <locationX>619</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualizar_registros_oportunidad_principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nombredelaoportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualizar_registros_oportunidad_principal</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Obtiene oportunidades paralelas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Obtiene oportunidades paralelas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Para obtener oportunidades creadas, paralelas a la oportunidad principal</description>
        <name>Obtiene_oportunidades_paralelas</name>
        <label>Obtiene oportunidades paralelas</label>
        <locationX>323</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_registros_oportunidad_principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nombredelaoportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123K000000CgOxQAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Nombredelaoportunidad</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipodeRegistro</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Etapa</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_registros_oportunidad_principal</name>
        <label>Actualizar registros oportunidad principal</label>
        <locationX>235</locationX>
        <locationY>297</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iddelaoportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etapa_Bancaria__c</field>
            <value>
                <elementReference>Etapa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad_en_Financiamiento_Bancario__c</field>
            <value>
                <elementReference>Nombredelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtiene_oportunidades_paralelas</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Etapa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Iddelaoportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Iddeoportunidad</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Indetificador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nombredelaoportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipodeRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
