force-app/main/default/flows/Oportunidad_Duplicada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizar_producto_de_oportunidad</name>
        <label>Actualizar producto de oportunidad</label>
        <locationX>344</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>oppProducto_loop.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datoOriginalRegistro.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppProducto_loop.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_nueva_colecci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_nueva_colecci_n</name>
        <label>Agregar a nueva colección</label>
        <locationX>626</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>oppProductoNuevoSingle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProducto_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_veh_culo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Valores</name>
        <label>Asignar Valores</label>
        <locationX>83</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>datoOriginalRegistro.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>modifNombreOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>datoOriginalRegistro.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Listo Para Facturar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>datoOriginalRegistro.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValoresAgregadosId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_en_productos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_veh_culo</name>
        <label>Asignar vehículo</label>
        <locationX>900</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>datoOriginalRegistro.ModeloVehiculo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductoNuevoSingle.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>datoOriginalRegistro.Cantidad_de_Veh_culos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductoNuevoSingle.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>datoOriginalRegistro.Oportunidad_original__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datoIdOportunidad.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Coleccion_Oportunidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Coleccion_Oportunidades</name>
        <label>Coleccion Oportunidades</label>
        <locationX>616</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>ListaOppClonadas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>datoOriginalRegistro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_en_productos</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ValoresAgregadosId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123k000001lR6NAAU</stringValue>
        </value>
    </constants>
    <formulas>
        <name>modifNombreOportunidad</name>
        <dataType>String</dataType>
        <expression>&quot;[clone]&quot; + {!datoOriginalRegistro.Name}</expression>
    </formulas>
    <interviewLabel>Oportunidad Duplicada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad Duplicada</label>
    <loops>
        <name>Iterar_en_productos</name>
        <label>Iterar en productos</label>
        <locationX>254</locationX>
        <locationY>234</locationY>
        <assignNextValueToReference>oppProducto_loop</assignNextValueToReference>
        <collectionReference>productosRegistroOriginal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_producto_de_oportunidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clonar_Oportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clonar_Oportunidad</name>
        <label>Clonar Oportunidad</label>
        <locationX>753</locationX>
        <locationY>490</locationY>
        <inputReference>ListaOppClonadas</inputReference>
    </recordCreates>
    <start>
        <locationX>8</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>Asignar_Valores</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Copia los datos del registro de la Oportunidad, para usar el Id de la oportunidad ORIGINAL.</description>
        <name>datoIdOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>datoOriginalRegistro</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ListaOppClonadas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppProducto_loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProductoNuevoSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>productoRegistroNuevo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>productosRegistroOriginal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
