force-app/main/default/flows/prueba_ross.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_883f9682_0cf7_4df7_93d6_23ed154be926</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8b4e4e26_66c2_483c_bb90_3041e8196aab</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_78f68c03_405b_4e41_a266_325a90095491_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_78f68c03_405b_4e41_a266_325a90095491_rank0&quot;,&quot;rankText&quot;:&quot;{!q_78f68c03_405b_4e41_a266_325a90095491_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_78f68c03_405b_4e41_a266_325a90095491_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_78f68c03_405b_4e41_a266_325a90095491_rank1&quot;,&quot;rankText&quot;:&quot;{!q_78f68c03_405b_4e41_a266_325a90095491_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_78f68c03_405b_4e41_a266_325a90095491_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_78f68c03_405b_4e41_a266_325a90095491_rank2&quot;,&quot;rankText&quot;:&quot;{!q_78f68c03_405b_4e41_a266_325a90095491_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Prueba Ross</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Prueba Ross</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_prueba_ross_2_738792d4_a5ce_4b20_abe6_e1bd5b375958</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_883f9682_0cf7_4df7_93d6_23ed154be926</name>
        <label>Preguntas 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8b4e4e26_66c2_483c_bb90_3041e8196aab</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>thumbsUp</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_3034004f_6c90_4673_b91f_8449c72ab5ee_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_3034004f_6c90_4673_b91f_8449c72ab5ee_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3034004f_6c90_4673_b91f_8449c72ab5ee</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Te gusta trabajar en Casa Pellas ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_78f68c03_405b_4e41_a266_325a90095491_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_78f68c03_405b_4e41_a266_325a90095491</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Califica esta pregunta:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b4e4e26_66c2_483c_bb90_3041e8196aab</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>1000</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d6d01646_0157_49c8_b37e_2992eb2efdfd</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Selecciona el mejor salario para ti:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_883f9682_0cf7_4df7_93d6_23ed154be926</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_3034004f_6c90_4673_b91f_8449c72ab5ee_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_3034004f_6c90_4673_b91f_8449c72ab5ee_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_78f68c03_405b_4e41_a266_325a90095491_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>1</text>
    </textTemplates>
    <textTemplates>
        <name>q_78f68c03_405b_4e41_a266_325a90095491_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>2</text>
    </textTemplates>
    <textTemplates>
        <name>q_78f68c03_405b_4e41_a266_325a90095491_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>3</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Gracias por sus respuestas! &lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Prueba Ross de Modulo de encuestas</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://gcpcrm--c.documentforce.com/file-asset-public/CapitalHumano7?oid=00D3k000000uETa&amp;amp;v=1&quot; alt=&quot;Capital-Humano7&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Hola! esta es una prueba de Encuestas &lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_78f68c03_405b_4e41_a266_325a90095491_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
