force-app/main/default/flows/Total_Auditoria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asigna_porcentaje</name>
        <label>Asigna porcentaje</label>
        <locationX>440</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>Porcentaje</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auditoria.Total_Auditoria__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_en_oportunidad</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Total Auditoria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Auditoria</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Auditoria</name>
        <label>Auditoria</label>
        <locationX>245</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_porcentaje</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdAuditoria</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Auditoria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Total_en_oportunidad</name>
        <label>Total en oportunidad</label>
        <locationX>657</locationX>
        <locationY>257</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Auditoria__c</field>
            <value>
                <elementReference>Porcentaje</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Auditoria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdAuditoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OportunidadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Porcentaje</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
