force-app/main/default/flows/Ultima_actividad_de_Oportunidades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Id_ultima_actividad_de_op</name>
        <label>Id ultima actividad de op</label>
        <locationX>362</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>Registros_de_actividades.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registros_de_actividades.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_campo_Id_de_ultima_actividad_en_Op</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Ultima actividad de Oportunidades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ultima actividad de Oportunidades</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Registros_de_actividades</name>
        <label>Registros de actividades</label>
        <locationX>183</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Id_ultima_actividad_de_op</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_campo_Id_de_ultima_actividad_en_Op</name>
        <label>Actualiza campo Id de ultima actividad en Op</label>
        <locationX>520</locationX>
        <locationY>189</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asunto_de_tarea__c</field>
            <value>
                <elementReference>Registros_de_actividades.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_vencimiento_tarea__c</field>
            <value>
                <elementReference>Registros_de_actividades.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Ultima_Actividad__c</field>
            <value>
                <elementReference>Registros_de_actividades.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Registros_de_actividades</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
