force-app/main/default/flows/UpdateOwnerIdToyota.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NuevoLeadSignado</name>
        <label>NuevoLeadSignado</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <actionName>Lead.Nuevo_Lead_de_ventas_creado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Asignar_a_usuarios</name>
        <label>Asignar a usuarios</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_owner_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asignar_usuario_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadID.Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwner1</targetReference>
            </connector>
            <label>Asignar usuario 1</label>
        </rules>
        <rules>
            <name>Asignar_usuario_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadID.Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwner2</targetReference>
            </connector>
            <label>Asignar usuario 2</label>
        </rules>
        <rules>
            <name>Asignar_usuario_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadID.Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwner3</targetReference>
            </connector>
            <label>Asignar usuario 3</label>
        </rules>
    </decisions>
    <description>Actualiza el owner del lead segín el round robin de toyota</description>
    <interviewLabel>UpdateOwnerIdToyota {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOwnerIdToyota</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLeadID</name>
        <label>GetLeadID</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_a_usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Asignacion para Isis 0053k00000BPQ51AAH</description>
        <name>Update_owner_4</name>
        <label>Update owner 4</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>NuevoLeadSignado</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053k00000BPQ51AAH</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>ASigna a vendedor 1 Lisdany 0053k00000AxgdxAAB</description>
        <name>UpdateOwner1</name>
        <label>UpdateOwner1</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>NuevoLeadSignado</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053k00000AxgdxAAB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>ASigna a vendedor 1 Kevin 0053k00000BK8E0AAL</description>
        <name>UpdateOwner2</name>
        <label>UpdateOwner2</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>NuevoLeadSignado</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053k00000BK8E0AAL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>ASigna a vendedor 3 Maria Perez 0053k00000B57zRAAR</description>
        <name>UpdateOwner3</name>
        <label>UpdateOwner3</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>NuevoLeadSignado</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053k00000B57zRAAR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLeadID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marca_a_cotizar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Toyota</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123k000001700NAAQ</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
