force-app/main/default/flows/UpdateOportunidadesCreadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>SeteaCantidadDeOportunidades</name>
        <label>SeteaCantidadDeOportunidades</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CantidadDeOportunidades</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_OPP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaOppsCreadas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PLnVentaVacio</name>
        <label>PLnVentaVacio</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoEstaVacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDataPlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeteaCantidadDeOportunidades</targetReference>
            </connector>
            <label>NoEstaVacio</label>
        </rules>
    </decisions>
    <formulas>
        <name>CantidaddeOpp</name>
        <dataType>Number</dataType>
        <expression>{!GetDataPlan.Oportunidades_Creadas__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MesTexto</name>
        <dataType>String</dataType>
        <expression>CASE({!Mes}, 1, &quot;ENERO&quot;, 2,&quot;FEBRERO&quot;, 3, &quot;MARZO&quot;, 4, &quot;ABRIL&quot;, 5 , &quot;MAYO&quot;, 6, &quot;JUNIO&quot;, 7, &quot;JULIO&quot;, 8,&quot;AGOSTO&quot;, 9, &quot;SEPTIEMBRE&quot;,10, &quot;OCTUBRE&quot;, 11, &quot;NOVIEMBRE&quot;, 12, &quot;DICIEMBRE&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>PrimerDiaDelMes</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!AnioTexto} + &quot;-&quot; + TEXT({!Mes}) + &quot;-01 00:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>PrimerDiaDelMesProximo</name>
        <dataType>DateTime</dataType>
        <expression>IF(
{!Mes} = 12, 
 DATETIMEVALUE( TEXT(VALUE({!AnioTexto})+1) + &quot;-01-01 00:00:00&quot;),
DATETIMEVALUE({!AnioTexto} + &quot;-&quot; + TEXT({!Mes} + 1) + &quot;-01 00:00:00&quot;)
)</expression>
    </formulas>
    <interviewLabel>UpdateOportunidadesCreadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOportunidadesCreadas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDataPlan</name>
        <label>GetDataPlan</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PLnVentaVacio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Usuario</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mes_Calendario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MesTexto</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ano_Calendario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnioTexto</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marca__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_Mensual_de_ventas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_OPP</name>
        <label>Obtener OPP</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDataPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marca_UDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Usuario</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PrimerDiaDelMes</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>PrimerDiaDelMesProximo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizaOppsCreadas</name>
        <label>ActualizaOppsCreadas</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDataPlan.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Oportunidades_Creadas__c</field>
            <value>
                <elementReference>CantidadDeOportunidades</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_Mensual_de_ventas__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_OPP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnioTexto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CantidadDeOportunidades</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Marca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
