force-app/main/default/flows/Verifica_Actividad_Contact_Center.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asigna_Oportunidades_para_conteo</name>
        <label>Asigna Oportunidades para conteo</label>
        <locationX>469</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>ConteoOportunidades</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Verificar_actividades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mayor_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Mayor_1</name>
        <label>Mayor 1</label>
        <locationX>648</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Conteo_mayor_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConteoOportunidades</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Check_de_actividad</targetReference>
            </connector>
            <label>Conteo mayor 1</label>
        </rules>
    </decisions>
    <interviewLabel>Verifica Actividad Contact Center {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verifica Actividad Contact Center</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Busca actividades relacionadas a una oportunidad de contact center</description>
        <name>Verificar_actividades</name>
        <label>Verificar actividades</label>
        <locationX>211</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Oportunidades_para_conteo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Check_de_actividad</name>
        <label>Actualiza Check de actividad</label>
        <locationX>599</locationX>
        <locationY>294</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actividad_Contact_Center__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>63</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Verificar_actividades</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConteoOportunidades</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Id de la oportunidad para verificar tarea</description>
        <name>Oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tipoderegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotaldeOportunidades</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
